# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Data
data/
datasets/

# Models
models/
*.pkl
*.joblib

# Notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env
